<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="MetaData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><applicationSettings>
  <MetaData.Properties.Settings>
      <setting name="WordsToFilterOut" serializeAs="String">
          <value>jingle radio scorpio,jingle club 106,Tijdsein - jingle,Jingles Scorpio,Jingles Scorpio Electro,Nieuws - TussenTune,Radio scorpio dubstep,nieuws~0.0,10.48.13,evenement</value>
      </setting>
      <setting name="IcecastDefaultText" serializeAs="String">
          <value>Radio Scorpio | 106 FM</value>
      </setting>
      <setting name="MailHost" serializeAs="String">
          <value>smtp.gmail.com</value>
      </setting>
      <setting name="MailPort" serializeAs="String">
          <value>587</value>
      </setting>
      <setting name="MailSSL" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="TimerCheckZaraFileExistsInMS" serializeAs="String">
          <value>60000</value>
      </setting>
      <setting name="IcecastUri" serializeAs="String">
          <value>http://193.190.253.57:8000/admin/metadata?mount=/stream&amp;mode=updinfo&amp;song=</value>
      </setting>
      <setting name="IcecastUser" serializeAs="String">
          <value />
      </setting>
      <setting name="IcecastPass" serializeAs="String">
          <value />
      </setting>
      <setting name="MailAdress" serializeAs="String">
          <value>icecastserverscorpio@gmail.com</value>
      </setting>
      <setting name="MailCredUser" serializeAs="String">
          <value>icecastserverscorpio@gmail.com</value>
      </setting>
      <setting name="MailCredPass" serializeAs="String">
          <value />
      </setting>
      <setting name="AdminMail" serializeAs="String">
          <value />
      </setting>
      <setting name="ZaraPath" serializeAs="String">
          <value>C:\Temp\CurrentSong.txt</value>
      </setting>
  </MetaData.Properties.Settings>
    </applicationSettings>
</configuration>
