<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Here you can define the jingles. if the currentsong contains one of these values, it will not be saved to the database.-->
    <add key="jingles" value="jingle radio scorpio, jingle club 106"/>
  </appSettings>
</configuration>
